body {
    background-color: #282828 !important; /* Dunkler Hintergrund */
    color: #ffffff !important; /* Helle Schriftfarbe */
}


footer {
    background-color: #3f3f3f !important; /* Dunkler Hintergrund */
    color: #ffffff !important; /* Helle Schriftfarbe */
}